.login-form {
    width: 500px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}
.login-form h1 {
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 20px 0 20px 0;
}
.login-form input[type="id"],
.login-form input[type="password"] {
    width: max-content;
    align-items:stretch;
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: gray;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: white;
}